*.ibc
*.o

FSharp/Viterbi/\.idea/

FSharp/Viterbi/\.vs/

FSharp/Viterbi/obj/

FSharp/Viterbi/packages/

\.DS_Store

FSharp/Viterbi/bin/

CSharp/Viterbi/\.idea/

CSharp/Viterbi/bin/

CSharp/Viterbi/obj/

CSharp/SortAlg/\.idea/

CSharp/SortAlg/\.vs/

CSharp/SortAlg/bin/

CSharp/SortAlg/obj/
